{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

    <form method = "post" >
    <div class = "form-container">
        <h3> Sign-up </h3>
        <div class ="form-outline row">
            <br>
            <label for = "username" class="col-sm-2 col-form-label col-form-label-md"> Username</label>
            <div class="col-sm-10">
                <input type= "email" class="form-control form-control-lg" id = "username" name = "username"
                   placeholder="Enter username" />
            </div>
        </div>
        <br>

        <div class ="form-group row">

            <label for = "email" class="col-sm-2 col-form-label col-form-label-md"> Email Address</label>
            <div class="col-sm-10">
                <input type= "email" class="form-control form-control-lg" id = "email" name = "email"
                   placeholder="Enter email" /> </div>
        </div>
        <br>
        <div class ="form-group row">
            <label for = "password1" class="col-sm-2 col-form-label col-form-label-md"> Password</label>
            <div class="col-sm-10">
                <input type= "password"
                       class="form-control form-control-lg"
                   id = "password1"
                   name = "password1"
                   placeholder="Enter password" />
            </div>
        </div>
        <br>
        <div class ="form-group row">
            <label for = "password2" class="col-sm-2 col-form-label col-form-label-md"> Password again</label>
            <div class="col-sm-10">
                <input type= "password"
                       class="form-control form-control-lg"
                   id = "password2"
                   name = "password2"
                   placeholder="Enter password again" />
             </div>
        </div>

            <div class = "submit-btn" >
                <button class= "btn btn-primary" type = "submit">Sign Up</button>

            </div>
        </div>
    </div>


    </form>


{% endblock %}