{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class = "game">
    <div class = "counter">
        <div class = "current">
            current <br/>
            {{ current }}/10
        </div>
         <div class = "correct">
             score <br/>
            {{ correct }}
        </div>
    </div>

    <div class = "serve">
        {{ word_to_serve }}
    </div>
    <br/>
    <form action = "" method = "post" >

        <div class = "game-input"> <input type='text'
            placeholder = "type here.."
            name = "user_input">
        </div>

        <div class = "action-row">
        <div class = "submit-btn"> <button class= "btn btn-primary"
                        type = "submit"name="action" value="prev">prev</button>
         </div>
        <div class = "submit-btn">
                <button class= "btn btn-primary"
                        type = "submit"name="action" value="next">next</button>
         </div>
        </div>
        <div class = "submit-btn">
                <button class= "btn btn-primary"
                        type = "submit"name="action" value="end">end</button>
         </div>

    </form>
          <!--<-button type="next">next</-button>-->
</div>

    {% block output %}
{% endblock %}




{% endblock %}