{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}

    <div class = "game">
    <div class = "counter">
        <div class = "current">
            {{ current }}/10
        </div>
         <div class = "correct">
            {{ correct }}
        </div>
    </div>

       <div class = "center-text">
           good job!
       </div>

    <br/>



          <!--<-button type="next">next</-button>-->
</div>
     <br/>
    <form action = "" method = "post" >
             <div class = "submit-btn">
                <button class= "btn btn-primary"
                        type = "submit"name="action" value="play again">play again</button>
         </div>
    </form>

{% endblock %}