h1 {
    color:#339BEB;
    font-family: Arial;
    text-align: center; /*left,right,center,justify*/
    line-height: 400%;
}
h3 {
    text-align: center;
}
fieldset {
    border:none;

}

.container {
    padding-top: 10%;
    display: block;
}

.start {
    background-color: #04AA6D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-size: 50px;
    border-radius: 30px;
    color: white;

}
.start, a {
    color: white;
}
.start, a:hover {
  color: white;
}
.start:hover {
    background-color: #65d7ad;
}
.center-text {
    text-align: center;
    color: white;
}

.game {
    display: block;
     background-color: #6ab6f1;

    border-radius: 20px;
    padding: 5%;
}
.counter {
    width: 80%;
    margin: auto;
    padding: 10px;
}
.current {
    display: inline-block;
    border-radius: 20px;
    background-color: #339BEB;
    width: 10vw;
    text-align: center;
    float: left;
    color: white;
}
.correct {
    display: inline-block;
    border-radius: 20px;
    background-color: #339BEB;
    width: 10vw;
    text-align: center;
    margin-left: 60%;
    color: white;
}

.serve {
    text-align: center;
    color: darkgreen;
    font-family: Arial;
    background-color: #b2e6cc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serve:hover {
    animation: slide-in 0.5s forwards;
    border-radius: 8px;
}

.game-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-container {
    margin-left: 10%;
    margin-right: 10%;
}
.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    font-family: Arial;
    font-style: italic;
    background-color: #b2e6cc;
    text-align: center;
    width: 80%;
    height: 10%;
    margin-left: 10%;
}
.result:hover {
    background-color: #d6ece1;
    border-radius: 8px;
}